// colors
$text-clr:#fff;
$primary-clr: #ffa343;
$secondary-clr:  #ff0000;
// font-size
$font-size-sm: 1.7rem;
$font-size-md: 2.1rem;
$font-size-lg: 2.2rem;
$font-size-xl: 2.5rem;
// font weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
// border radius
$border-radius: 20px;
$border-radius-sm: 5px;
$border-radius-lg: 35px;
// margin
$margin-s:10px;
$margin-m:20px;
$margin-l:30px;
$margin-lg:40px;






